<%= @sub.title %>
<%= @sub.url %>
<%= current_user.username %>
<h1><%=@sub.title %></h1>
<h2>Description</h2>
<h3><%=@sub.description %></h3>
<a href="<%=new_post_url%>"> Make New Post!</a>


<ul>
  <% @sub.posts.each do |post| %> 
    <li>  
      <a href="<%=post_url(post)%>"><%=post.title%></a>
    </li>
  <% end  %>
    
</ul>
<!-- ???? -->
